.main-tittle {
  font-size: 45px;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 5px 3px black, 0 -5px 7px black;
  color: #fffd59;
  text-align: center;
}

.main-tittle.-green {
  color: #00e461;
}
