.main-icon {
  font-family: 'Press Start 2P', cursive;
  color: #fe4b74;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 5px 5px 7px #fe4b74, -5px -5px 7px #fe4b82;
  text-shadow: 0 5px 4px black, 0 -5px 6px black;
  margin-right: 20px;
}
